{% extends 'partials/boilerplate.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header">Journals
            </div>
            <div class="table-responsive w-auto ">
                <table class="align-middle mb-0 table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center" style="width:5%">#</th>
                            <th>Particulars</th>
                            <th class="text-center" style="width:15%">Debit</th>
                            <th class="text-center" style="width:15%">Credit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center text-muted">#{{i.id}}</td>
                            <td>
                                <form class="">
                                    <input placeholder="lg" type="text" class="mb-2 form-control-lg form-control">
                                    <input placeholder="default" type="text" class="mb-2 form-control">
                                    <input placeholder="sm" type="text" class="mb-2 form-control-sm form-control">
                                    <div class="divider"></div>
                                    <select class="mb-2 form-control-lg form-control">
                                        <option>Large Select</option>
                                    </select>
                                    <select class="mb-2 form-control">
                                        <option>Default Select</option>
                                    </select>
                                    <select class="form-control-sm form-control">
                                        <option>Small Select</option>
                                    </select>
                                </form>
                            </td>
                            <td class="text-center">
                                Lorem
                            </td>
                            <td class="text-center">
                                Ipsum
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% for i in debit_obj %}
<h1>{{i}}</h1>
{% endfor %}

{% for i in credit_obj %}
<h1>{{i}}</h1>
{% endfor %}

{% endblock %}